
.slider-container {
 display: block;
 margin: 20px 0;
 border-radius: 3px;
}

.slider {
 height: 30vh;
 width: 100%;
 object-fit: cover;
}
.slider.one {
 background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1523580940/slide_4.jpg");
 background-size: 360px 240px;
 background-position: center;
 background-repeat: no-repeat;
}
.slider.two {
 background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1523580939/slide_2.jpg");
 background-size: auto 240px;
 background-position: center;
 background-repeat: no-repeat;
}
.slider.three {
 background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1523580940/slide_5.jpg");
 background-size: auto 240px;
 background-position: center;
 background-repeat: no-repeat;
}
.slider.four {
 background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1523580940/slide_1.jpg");
 background-size: auto 240px;
 background-position: center;
 background-repeat: no-repeat;
}
