
<main id="root"></main>

<script>
  // window.onscroll = function() {
  //   if(document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
  //     if(document.getElementById("backToTop")){
  //       console.log(document.getElementById("backToTop").style.top)
  //       document.getElementById("backToTop").style.display = "block";
  //     }
  //   } else {
  //     if(document.getElementById("backToTop")){
  //      document.getElementById("backToTop").style.display = "none";
  //     }
  //   }
  // }

  // $('#backToTop').hide();
  // $(window).scroll(function(){
  //
  //   var stop = $('#footer').position().top - $(window).scrollTop();
  //   var footer = $('#footer').position().top
  //   console.log(`footer: ${footer}`)
  //   console.log(`stop: ${stop}`)
  //
  //   var bottomOfButton = $('#backToTop').position().top + 120;
  //   console.log(`bottomOfButton: ${bottomOfButton}`);
  //   var bottom = stop - $('#backToTop').height() + 'px';
  //   console.log(`bottom: ${bottom}`);
  //
  //   if ($(window).scrollTop() > 300 ){
  //     $('#backToTop').fadeIn();
  //   } else {
  //     $('#backToTop').fadeOut();
  //   };
  //
  //   // if (stop < bottomofbutton){
  //   //     $('#backToTop').css('bottom', 0);
  //   // } else if (stop >= bottomofbutton){
  //   //     $('#backToTop').css({'bottom': '170px', 'top': ''});
  //   // }

  // });
</script>
