
.navbar-container {
  height: 94%;
  // border-bottom: 1px solid #eee;
  padding-top: 6px;
}

.navbar-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid #eee;

}
.nav-greeting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
.header-name {
  font-size: 16px;
  margin-right: 6px;
}

.top-bar-logo-name {
  display: none;
}

.top-bar-logo-link {
  // background: url(../../app/images/startable.png);
  // background: url(/assets/images/startable.png);
  background-image: image-url("startable.png") ;
  background-repeat: no-repeat;
  background-position: 0 16px;
  width: 160px;
  height: 80px;
  display:block;
  background-size: 100%;
  margin-left: 24px;
}

#navbar-hero {
  max-height: 300px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  min-height: 200px;
}
