
// Typeface
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


html {
  // font-family: 'Hind', sans-serif;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: #f7f7f7;
}

header, main {
  background: #fff;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
