.add-restaurant-container {
  position: relative;
  width: 100%;
  // background: rgba(0,0,0,0.9);
  background-image: url("https://res.cloudinary.com/chengzii/image/upload/v1523421045/add_restaurant_img.jpg");
  margin-top: -40px;
}

.add-restaurant-container h4 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
  font-weight: bold;
  color: #fff;

  text-shadow: 2px 0px 8px rgba(75, 75, 75, 1);
  position: relative;
  bottom: -50px;
  position: relative;
}

.add-restaurant-container a {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 4%;
  font-size: 16px;
}

.add-restaurant-container a i {
  color: #fff;
  margin-left: 2px;
  font-size: 12px;
}
.add-restaurant-form {
  position: relative;
  bottom: -60px;
  width: 60%;
  min-width: 400px;
  // max-width: 800px;
  height: 100%;
  margin: 0 auto 120px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  padding: 40px 20px 30px 20px;
  box-shadow: 0px 2px 2px 0px #ccc;
}



.add-input {
  width: 45%;
  height: 46px;
  line-height: 46px;
  border: 1px solid #eee;
  border-radius: 3px;

  font-size: 12px;
  margin: 0px 6px 10px 6px;
  padding: 2px 2px 2px 10px;
}

.add-input-1 {
  width: 93%;
}

.add-input-3 {
  width: 29%;
  padding: 2px 1px 2px 10px;
}

.add-submit {
  display: block;
  width: 20%;
  padding: 16px 20px;
  color: #fff;
  background: #da3743;
  border: #b8222d;
  border-radius: 24px;
  transition: background-color 300ms ease-out;
  margin: 16px auto;
}

@media (max-width: 1000px) {
  .add-input, .add-input-1,.add-input-3{
    width: 100%;
  }
}
