.review-form-container {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 3px;
}

.review-form-container h5 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 10px;
}



.review-radio {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}


.review-form-middle {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
}

.review-text-input {
  width: 100%;
  overflow-y:visible;
  padding: 10px
}

.stars input[type="radio"] {
  // visibility:hidden;
}

.star {
  padding-right: 10px;
  padding-left: 2px;
  background-image: url("https://res.cloudinary.com/chengzii/image/upload/v1523511580/rating_icon_empty.png");
}

.rating-stars {
  text-align: center;
  padding-top: 8px;
  font-size: 18px;
}
#full {
  color: #ffe500;
}

#review-submit {
  margin: 10px 0 20px 0;
  width: 100%;
  height: 40px;
}
